body {
    background-color: #FDFDFD;
}
.center {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 2em;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: .5em;
  background-color: #E2E6E6;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.imageCenter {
  width: 640px;
  height: 640px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border:1px solid #000;
}

input {

}

button {
    background-color: #FD7C5D; /* orangey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .5em;
}
h1{
  text-align: center;
}
#app{
  margin-left: 20em;
  margin-right: 20em;
}