html,body {
   height: 100%;
   width: 100%;
}

body {
    background-color: #FDFDFD;
}
.center {
  width: 100%;
  height: 50%;
  margin: auto;
  overflow: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: .6em;
  background-color: #E2E6E6;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  text-align: center;
}

.imageCenter {
  width: 100%;
  height: auto;
  overflow: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: .5em;
  border: 1px #E2E6E6;
  -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

input {
    margin-top: 20em;

}
p{
	margin-top: 20em;
	padding: none;
}

button {
    background-color: #FD7C5D; /* orangey */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 1em;
}
h1{
  text-align: center;
  margin: none;
}
.title{
  height: 15%;
}
#app{
  margin-left: 40em;
  margin-right: 40em;
  height: 100%;
}
#reset{
	float:right;
}