<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <title>Hello World - Google  Web Search API Sample</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="base.css">

  </head>


  <body>

  <div id="app">

    <div class="center"id="landing" v-show="!haveAccess">
      <h1> MostLiked </h1>
      <p> sign into instagram to enter </p>
      <button @click="redirect"> get started </button>
    </div>

    <div class="center" id="user_entry" v-show="showEntry">
      <input v-model="address"/>
      <input v-model="distance"/>
      <button  @click="setAccessfunction" v-show="access_token==''"> grab key</button>
      <button  @click="googleLocal" v-show="lattitude==''">get that google data</button>
      <button  @click="getInstaObject" v-show="lattitude!=''">get the insta data</button>
    </div>

    <h1 v-show="haveImage"> {{ firstUser }} has the top photo with {{ firstLikes }} likes</h1>
    <img class="center" v-show="haveImage" src="{{ firstUrl }}"/>
    <button v-show="haveImage" @click="reset"> reset </button>

    <pre> {{ $data | json }} </pre>

  </div>

    <script>

var vueRock = new Vue({
      el: "#app",

      data: {
        instaClientID: '63d392ef995d4ecebcfa2bff77725ede',
        instaClientSecret: '3d68c426fa7f487cb73ac78c66d9a7b4',
        instaRedirect: 'https://whitec54.github.io/MostLiked',
        address: '6802+UTSA+Boulevard',
        distance: '1000',
        access_token: '',
        lattitude: '',
        longitude: '',
        instaObject: {},
        haveImage: false,
      },

      computed: {
        instaAuthUrl: function() { return 'https://api.instagram.com/oauth/authorize/?client_id='+this.instaClientID +'&redirect_uri='+ this.instaRedirect +'&response_type=token&scope=public_content'},

        testAddress: function() { return 'https://maps.googleapis.com/maps/api/geocode/json?address='+this.address+'&sensor=false&feilds=location&key=AIzaSyAZqyVRzbtWVUptpJP1nskrdwtZh4iw8eA';},

        haveAccess: function(){ return window.location.hash},

        instaAddress: function(){return 'https://api.instagram.com/v1/media/search?lat='+this.lattitude+'&lng='+this.longitude+'&'+this.access_token+'&distance='+this.distance;},

        showEntry: function(){return (!this.haveImage)&&(this.haveAccess)},

        firstUrl: function(){
          if(this.haveImage){
            return this.instaObject["data"][0]["images"]["standard_resolution"]["url"];
          }
          else{
            return '';
          }
        },

        firstLikes: function() {
          return this.instaObject["data"][0]["likes"]["count"];
        },

        firstUser: function() {
          return this.instaObject["data"][0]["user"]["username"]
        }
      },

      methods: {
        redirect: function() { window.location.replace(this.instaAuthUrl); },

        setAccessfunction: function(){ this.access_token =  window.location.hash.substr(1);},

        googleLocal: function(){
          $.get(this.testAddress, function(geocodeData){
            console.log(geocodeData);

            var lat = geocodeData["results"][0]["geometry"]["location"]["lat"];
            var lng = geocodeData["results"][0]["geometry"]["location"]["lng"];

            lat = lat.toString();
            lng = lng.toString();

            console.log(lat+", "+lng);

            vueRock.$set('lattitude', lat);
            vueRock.$set('longitude', lng);

          });
          },
          getInstaObject: function(){
            $.ajax({
              type: "GET",
              dataType: "jsonp",
              url: this.instaAddress,
              success: function(imageData) {
                  console.log(imageData);
                  vueRock.$set('instaObject',imageData);
                  vueRock.$set('haveImage',true)
              }
            });
          },

          reset: function(){
            this.haveImage = false;
            this.instaObject = {};
            this.lattitude = '';
            this.longitude = '';
          }
      }

    });


    </script>

  </body>
</html>
